:root {}

.bodyy {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffff;

}
.logoone {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}
.logotwo {
   color: #2e2f42;

}
.link {
   text-decoration: none;
}
.list {
   list-style: none;

}
.but {
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   
}
.but:focus,:hover{
   color:   #404bbf;
}
.but:hover{
   color:  #404bbf;
}
.add {
   font-style: normal;

}
.addone {
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;

}
.addone:hover{
   color: #404bbf;
}
.addone:focus {
   color:#404bbf;
}
/* MAIN */
.secone {
   background-color: #2e2f42;

}
.hsecone {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;

}
.butone {
   background-color: #4D5AE5;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;

}
.butone:focus{
   background-color: #404BBF;
}
.butone:hover{
   background-color: #404BBF;
}
.sectwo {

}
.htwosectwo {
   font-weight: 500 ;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}
.psectwo {
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;

}
.secthree {

}
.htwosecthree {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;

}
.secfour {
   background-color: #F4F4FD;
}
.htwosecfour {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize ;
   color: #2e2f42;
}
.lisecfour {
   background-color: #FFFFFF;

}
.hthreesecfour {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2 ;
   letter-spacing: 0.02em;
   color: #2e2f42;

}
.psecfour {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

/* FOOTER */
.footer {
   background-color: #2e2f42;

}
.footerlogoone {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color:  #4d5ae5;

}
.footerlogotwo {
   color: #f4f4fd;
}

/* PORTFOLIO */
.bodyyy {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffff;
}
.butall {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #4d5ae5 ;
   background-color: #F4F4FD;
   cursor: pointer;
   
}
.butall:focus {
   color:  #FFFFFF;
   background-color: #404BBF;
}

.butall:hover {
   color: #FFFFFF;
   background-color:#404BBF;

}
.imgp {

}
.liportfolio {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;

}
.pportfolio {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}