/* Header */
.header1 {
background-color: #ffff;

}
.logo_link {
color: #4D5AE5;

}

.logo_link1 {
color: #2E2F42;

}

.nav {
    color: #2E2F42;
}
 .portfolio {
    color: #2E2F42;
 }

 .add {
    color: #434455;
 }
.headeradd {

}
.add1 {

}
.add2 {

}




.allmain {
position: relative;
width: 1440px;
height: 2592px;
background: #FFFFFF;
}









 /* Main */

 .main1 {
    background-color: #2E2F42;

 }
 .main1color {
    color: #FFFFFF;

 }
 .main1menubutton {
    background-color: #4D5AE5;
    color: white;

 }
.quality {

}

 /* Footer */
.footer {
    background-color: #2E2F42;
}

 .footerlogo {
    color: #4D5AE5;
 }
.footerlogo1 {
    color: #F4F4FD;
}
.footertext {
    color: #F4F4FD;
}