:root
/* Header */
.header1 {
background-color: #ffff;

}
.link {
color: #4D5AE5;
text-decoration: none;
font-family: "Raleway", sans-serif ;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
position: absolute;
width: 115px;
height: 24px;
left: 156px;
top: 24px;
letter-spacing: 0.03em;
text-transform: uppercase
}

.link1 {
color: #2E2F42;
text-decoration: none;
font-family: "Raleway", sans-serif ;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

}
.list {

   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   gap: 40px;
   position: absolute;
   width: 261px;
   height: 24px;
   left: 347px;
   top: 24px;
   list-style: none;




}
.link2 {
color: #2E2F42;
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
list-style: none;
}




 .portfolio {
    color: #2E2F42;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
 }

 .add {
    color: #434455;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
 }

.add1 {
   text-decoration: none;
   position: absolute;
width: 153px;
height: 24px;
left: 940px;
top: 24px;

}
.add2 {
   text-decoration: none;
   position: absolute;
width: 151px;
height: 24px;
left: 1133px;
top: 24px;
}




.allmain {
position: relative;
width: 1440px;
height: 2592px;
background: #FFFFFF;
font-family: "Roboto", sans-serif;
color: #434455









}
.address {
font-style: normal;
line-height: 1.5






}
 /* Main */

.allmain {
position: relative;
width: 1440px;
height: 2592px;
background-color: #FFFFFF;
}
 .section {
background-color: #2E2F42;
position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;

 }

.maincolor {
position: absolute;
width: 496px;
height: 120px;
left: 472px;
top: 260px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.mainmenubutton {
position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer


}
.strategy {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
}
.strategyp {
   line-height: 1.5;
   letter-spacing: 0.02em;
}
.sectionthree {
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
color: #2E2F42;

}
.sectionf {
   background-color: #F4F4FD;

}
.strategyf {
   font-weight: 500;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   color: #2E2F42;
   text-align: center;
   text-transform: capitalize;

}
.sec {
   background-color: #FFFFFF;

}
.sect {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.sectp {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   
}
/* Footer */
 .footer {
background-color: #2E2F42;
position: absolute;
width: 1440px;
height: 312px;
left: 0px;
top: 2280px;
 }

 .footerlogo {
text-decoration: none;
color: #4D5AE5;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.05;
 }
 .footerlogo1 {
text-decoration: none;
color: #F4F4FD;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.05;
 }
 .footertext {
color: #F4F4FD;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.05;
letter-spacing: 0.02em; 
}