:root {}

.bodyy {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffff;

}
.logoone {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}
.logotwo {
   color: #2e2f42;

}
.link {
   text-decoration: none;
}
.list {
   list-style: none;

}
.but {
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   
}